/* @import 'tailwindcss'; */
/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */
/* @source "..*.blade.php"; */
/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@400;700&display=swap');

/* RESET */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  unicode-bidi: isolate;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

body {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
}

button {
  opacity: 75%;
  cursor: pointer;
}

.button {
  border-radius: 12px;
  border: 1px solid #444;
  padding: 12px 24px;
}

main {
  flex: 1;
  width: 90%;
  margin: 24px auto;
  margin-bottom: 128px;
}

.breadcrumb {
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb li {
  margin-right: 10px;
  /* text-decoration: underline; */
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
  margin: 0;
}

small {
  color: #444;
}

li a {
  opacity: 65%;
  cursor: pointer;

}

li a:hover,
button:hover {
  opacity: 100%;
}

/* NAV */
#main-nav {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav ul {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
  margin-left: 6px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 12px;
  border-radius: 12px;
  border: 1px solid #444;
}

.search-input {
  padding: 8px 16px;
  width: 100%;
}

.search-button,
.search-icon {
  width: 32px;
  height: 32px;
  padding-top: 2px;
  margin: 8px;
}

#nav-toggle {
  margin-left: 6px;
}

#center-nav li {
  margin: 0 12px;
}

#right-nav li {
  margin: 0 6px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

#right-nav li a img {
  width: 40px;
  height: 40px;
}

.login-nav {
  margin: 0 20px;
}

#mobile-nav {
  display: none;
  z-index: 4;
}

#mobile-nav ul li {
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
}

#mobile-nav-search {
  display: flex;
}

#mobile-nav-search input {
  width: 100%;
  margin-left: 16px;
  padding: 4px 8px;
}

#mobile-nav-search button {
  margin-right: 24px;
}




/* FOOTER */
footer {
  width: 96vw;
  height: 256px;
  border-top: 1px solid lightgray;
  /* background-color: green; */
}

#footer-content {
  padding-top: 20px;
  padding-bottom: 16px;
}

#footer-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 10px;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 36px;
}

.footer-box {
  padding: 4px 8px;
  /* border: 1px solid lightgray;
  border-radius: 8px; */
  /* text-align: center; */
}

.footer-box h4 {
  margin-bottom: 4px;
}

.footer-box ul li {
  text-align: left;
  margin-bottom: 12px;
  color: #444;
  width: 193px;
  font-size: 15px;
}

#right {
  text-align: right;
}

.footer-box ul {
  margin-top: 12px;
}

#newsletter,
#newsletter ul li {
  min-width: 260px;
  max-width: 320px;
}

#newsletter form {
  display: flex;
  justify-content: space-between;
  height: 36px;
  border: 1px solid #333;
  border-radius: 12px;
}

#newsletter form input {
  /* border: 1px solid #000;
  border-radius: 12px; */
  padding: 4px 8px;
  width: 65%;
}

#newsletter form button {
  /* border: 1px solid #000; */
  /* border-radius: 12px; */
  border-left: 1px solid #333;
  padding: 4px 8px;
  width: 35%;
}

#bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.socials {
  display: flex;
  justify-content: end;
  margin-top: 8px;
}

.socials a {
  margin: 0 8px;
}

/* MAIN PAGE */
#hot-product {
  height: 70vh;
  min-height: 464px;
  background-color: #CCD2DC;
  background-image: url("../images/optimized_products/hot.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: end;
  padding: 72px 32px;
  color: #fff;
  margin-top: 8px;
  transition: background-size 0.3s ease-in-out;
}

#hot-product:hover {
  background-size: 102%;
}

#hot-product div {
  /* width: 60%; */
  max-width: 720px;
  min-width: 240px;
  text-align: right;
  color: white;
  text-transform: uppercase;
}

.hot-name {
  font-size: 48px;
  font-weight: 600;
}

#hot-sale {
  margin-top: 32px;
  display: flex;
  justify-content: end;
  align-items: end;
  /* width: 20%; */
}

.prices {
  max-width: 124px;
}

.prices h1 {
  font-size: 28px;
}

#hot-sale div {
  padding-right: 12px;
}

#hot-button {
  width: 164px;
  height: 96px;
  margin-left: 12px;
  margin-top: 8px;
  padding: 12px 24px;
  border-radius: 16px;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: bold;
}

.page-prices {
  margin-left: 6px;
}

.old-price {
  text-decoration: line-through;
  opacity: 70%;
}

.product-section {
  margin-top: 24px;
  text-align: center;
}

.product-section h2 {
  text-align: left;
  margin-bottom: 12px;
}

.product-section-header {
  font-size: 32px;
}

.section-break {
  margin-top: 48px;
}

.product-list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 5px;
  place-items: center;
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 240px;
  transition: transform 0.2s ease-in-out;
}

/*
.product-box:hover {
  transform: scale(1.1);
} */

.product-image,
.product-image-box {
  width: 240px;
  height: 164px;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.10);
}

/*
#add-product {
  margin-bottom: 198px;
} */

#add-product-image {
  border-radius: 12px;
  border: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
}


.view-more {
  padding: 12px 24px;
  border-radius: 16px;
  border: 1px solid #444;
  font-size: 18px;
  font-weight: bold;
}

.product-buttons {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.button-cart {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-edit {
  height: 62px;
  width: 128px;
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid #444;
}

.button-edit a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-edit a:hover {
  text-decoration: none;
}

.product-prices {
  text-align: left;
  margin-top: 6px;
}

.product-name {
  text-align: left;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-prices h2,
.product-prices h3 {
  margin: 0 0;
}

.product-data {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
}

.button-cart-icon {
  width: 16px;
  height: 16px;
}

.button-cart-text {
  padding-left: 4px;
  font-weight: 500;
}

.cart-image {
  border-radius: 12px;
}

/*LOGIN & REGISTER & Edit profile*/
.container {
  text-align: center;
  margin: 75px 0;
}

.container h1 {
  margin-bottom: 50px;
}

.login-form {
  margin-bottom: 50px;
}

.login-form>div,
.container p {
  margin-bottom: 20px;
}

.container .login-form button {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
}

.container p a {
  color: blue;
  text-decoration: underline;
}

.container .login-form input {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
}

.container .login-form label {
  display: block;
  text-align: left;
  padding-left: 4px;
}

.container .login-form div {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.container .login-form div select {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  width: 220px;
}

/* PROFILE */
.profile {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile h1 {
  text-align: center;
  margin-bottom: 50px;
}

.profile div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.profile div label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.profile button {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  margin-top: 50px;
}

#logout_button button#logout {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  display: block;
  background-color: black;
  justify-self: right;
  color: white;
  margin-bottom: 20px;
  margin-top: 24px;
}


/*CART*/
.cart {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cart h1 {
  text-align: center;
  margin-bottom: 50px;
}

.empty-cart {
  text-align: center;
  margin-top: 128px;
}

.cart div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.cart div span {
  padding: 10px 0px;
}

.cart div#first_div {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid;
  font-weight: bold;
}

.cart div span input::-webkit-inner-spin-button {
  /*toto zrusi sipky, ktore sa obycajne nachadzaju pri input type number*/
  -webkit-appearance: none;
  margin: 0px;
}

.cart div span input {
  text-align: center;
  width: 34px;
}

.qua-button,
.cart button {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  margin-top: 50px;
}

.cart div span button {
  color: red;
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  margin: 0px;
}

.cart div a img {
  width: 100%;
  height: auto;
  /*toto tu asi nemusi byt*/
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

/*SUMMARY*/
.cart#summary {
  margin-bottom: 50px;
}

.cart#summary div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.profile button#price_button {
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid #444;
  display: block;
  background-color: black;
  justify-self: center;
  color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* STORE */
.flex {
  display: flex;
}

#store-container {
  border: 1px solid #444;
  border-radius: 12px;
}

#filter {
  width: 224px;
  border-right: 1px solid #444;
  display: flex;
  flex-direction: column;
}

#filter-close {
  display: none;
}

.no-products {
  margin-top: 48px;
}

#mobile-filter {
  border-radius: 12px;
  border: 1px solid #444;
  display: none;
  padding-bottom: 24px;
  flex-direction: column;
  background-color: white;
  width: 90%;
  position: fixed;
  z-index: 1;
}

#mobile-filter h1 {
  text-align: center;
  padding: 12px 8px;
}

#mobile-filter h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

#mobile-filter .filter-section {
  width: 224px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-filter-header {
  position: relative;
}

.mobile-filter-header button {
  position: absolute;
  top: 8px;
  right: 8px;
}

#filter h1 {
  text-align: center;
  font-size: 32px;
  padding: 16px 32px;
}

.darker-hr {
  background-color: #444;
}

.filter-section {
  padding: 0 28px;
  margin-bottom: 32px;
}

#color-selection,
#size-selection {
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

#filter h4 {
  padding: 0 20px;
  margin-bottom: 8px;
  margin-top: 16px;
  color: #333;
}

#filter-button {
  display: block;
  margin: 32px auto;
  width: 90%;
  padding: 8px 16px;
  border: 1px solid #444;
  border-radius: 12px;
  cursor: pointer;
}


.price-input {
  border: 1px solid #444;
  border-radius: 8px;
  padding: 3px 8px;
}

.price-box {
  width: 100px;
  margin: 0 8px;
}

.price-input,
.price-box label {
  width: 100%;
  text-align: center;
  display: block;
}

.color-select {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #000;
  opacity: 98%;
}

.color-select:hover {
  scale: 105%;
}

.color-select.selected {
  scale: 110%;
  position: relative;
}

.color-select.selected::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-image: url('data:image/svg+xml,%3Csvg%20data-slot%3D%22icon%22%20fill%3D%22none%22%20stroke-width%3D%221.5%22%20stroke%3D%22currentColor%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20aria-hidden%3D%22true%22%3E%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m4.5%2012.75%206%206%209-13.5%22%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}


.size-select,
.product-size-select {
  padding: 4px 8px;
  border: 1px solid #444;
  border-radius: 8px;
}

.size-select:hover {
  scale: 105%;
}

.size-select.selected,
.product-size-select.selected {
  background: #333;
  color: white;
  border-color: #333;
  scale: 115%;
}

#products {
  flex: 1;
  padding: 32px 32px;
}

#products h1 {
  text-align: left;
  font-size: 48px;
  /* margin-bottom: 12px; */
}

.store-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  margin-bottom: 8px;
  position: relative;
}

.store-top button {
  display: none;
}

.product-box {
  margin-bottom: 64px;
}


.pagination-button {
  padding: 8px 16px;
  border: 1px solid #444;
  border-radius: 12px;
  margin: 0 2px;
}

.pagination-button.active {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}


.pagination-button:hover {
  scale: 105%;
}

/* PRODUCT */
.product-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.product-carousel {
  width: 100%;
  height: 480px;
}

.product-photo {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
}

.product-rating {
  display: flex;
  align-items: end;
}

.product-rating span {
  margin-left: 8px;
}

.details-bottom {
  margin-bottom: 24px;
}

.product-size-selection {
  margin-top: 18px;
  width: 255px;
}

.product-stats {
  display: flex;
}

.product-counter {
  margin-left: 16px;
  margin-top: 18px;
}

.quantity-container {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.quantity-button {
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
}

#decrease {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
}

#increase {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
}

#product-quantity {
  width: 50px;
  text-align: center;
  border: 1px solid #444;
  padding: 5px;
  font-size: 16px;
  height: 40px;
}

#product-button {
  width: 132px;
}

#product-button svg {
  width: 40px;
  height: 40px;
}

.prices {
  margin-top: 24px;
}

.prices h1 {
  margin: 0;
  color: white;
}

.product-prices h1 {
  margin: 0;
  color: #333;
}

.product-description {
  margin-top: 64px;
}

.description-item {
  margin-bottom: 48px;
  padding: 12px 24px;
  text-align: justify;
}

.under-desc {
  margin-top: 12px;
}

.description-param {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.spec-item {
  margin-bottom: 8px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.review-box {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  border-radius: 12px;
  border: 1px solid #444;
  padding: 8px 16px;
}

.star {
  cursor: pointer;
}

#create-review {
  margin: 20px 0;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-text {
  max-height: 124px;
  overflow: scroll;
  padding: 8px
}

.review-author {
  margin-top: auto;
  font-weight: bold;
}

.review-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-input {
  width: 78%;
  margin-top: 8px;
  height: 72px;
}

#review-submit {
  width: 20%;
  min-width: 110px;
  border-radius: 12px;
  border: 1px solid #444;
  padding: 8px 16px;
  text-align: center;
  /* margin-bottom: 28px; */
}

/* ADD PRODUCT */
.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-form h1 {
  margin-bottom: 24px;
}

.add-form-input {
  width: 60%;
  min-width: 264px;
  margin-bottom: 24px;
  display: block;
}


.add-form-input input,
.add-form-input textarea,
.add-form-input select {
  margin-top: 8px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #444;
  padding: 8px 16px;
}

.add-form-input textarea {
  height: 224px;
}

.size-container {
  max-width: 200px;
}

.size-options {
  max-height: 150px;
  width: 78px;
  overflow-y: auto;
  border-radius: 12px;
  border: 1px solid #444;
  padding-right: 24px;
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.size-options label {
  display: flex;
  align-items: end;
  gap: 6px;
  cursor: pointer;
}

/* EDIT PRODUCT */
.remove-button {
  color: red;
}

.remove-form {
  margin-top: 32px;
  text-align: center;
}

.existing-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 16px 0;
}

.edit-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-remove-button {
  position: absolute;
  color: red;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.edit-remove-button:hover {
  scale: 110%;
}



/* RESPONSIVE */
/* Phone */
@media (max-width: 770px) {

  #main-nav,
  footer {
    padding: 0 4px;
  }

  #center-nav {
    display: none !important;
  }

  .li-icons {
    display: none !important;
  }

  .button-cart-icon {
    width: 28px;
    height: 32px;
  }

  .button-cart-text {
    display: none;
  }

  .hot-name {
    font-size: 32px;
    font-weight: 600;
  }

  #hot-sale {
    flex-direction: column;
  }

  #hot-product {
    height: 50vh;
  }

  .product-box {
    width: 280px;
    height: 300px;
  }


  .product-image,
  .product-image-box {
    width: 280px;
    height: 200px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .reviews {
    grid-template-columns: 1fr;
  }

  .description-param {
    grid-template-columns: 1fr;
  }

  .product-main {
    grid-template-columns: 1fr;
  }

  #sort-label {
    display: none;
  }

  .existing-image {
    height: 160px;
  }
}

/* Tablet */
@media (min-width:771px) and (max-width: 1024px) {

  #main-nav,
  footer {
    padding: 0 24px;
  }

  #nav-toggle {
    display: none;
  }

  .button-cart-icon {
    width: 28px;
    height: 32px;
  }

  .button-cart-text {
    display: none;
  }

  .product-main {
    grid-template-columns: 1fr;
  }

  .existing-image {
    height: 260px;
  }

  .product-box {
    width: 260px;
    height: 320px;
  }

  .product-image,
  .product-image-box {
    width: 260px;
    height: 186px;
  }
}

/* Desktop */
@media (min-width: 1025px) {

  #main-nav,
  footer {
    padding: 0 40px;
  }

  #nav-toggle {
    display: none;
  }

  .product-box {
    width: 280px;
    height: 332px;
  }

  .product-image,
  .product-image-box {
    width: 280px;
    height: 200px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 4fr));
  }

  .existing-image {
    height: 400px;
  }
}

/* Cart */
@media (max-width: 832px) and (min-width: 401px) {
  .cart div {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cart#summary div {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cart#summary div span:nth-child(4) {
    grid-column: 2 / span 1;
  }

  .cart#summary div span:nth-child(5) {
    grid-column: 3 / span 1;
  }

  .product-box {
    width: 220px;
    height: 292px;
  }

  .product-image,
  .product-image-box {
    width: 220px;
    height: 150px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  }
}

@media (max-width: 600px) {
  #filter {
    width: 100%;
    display: none;
  }

  #filter-close {
    display: block;
  }

  .filter-section {
    margin: auto;
    margin-left: 0;
  }

  .store-top {
    display: block;
  }

  .store-top button {
    display: block;
    position: absolute;
    border-radius: 12px;
    border: 1px solid #444;
    padding: 2px 4px;
    right: 12px;
    top: 32px;
  }

  .product-box {
    width: 280px;
    height: 332px;
  }

  .product-image,
  .product-image-box {
    width: 280px;
    height: 200px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .product-stats {
    display: block;
  }

  .product-counter {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .add-form-input {
    width: 90%;
  }

  .existing-image {
    height: 200px;
  }
}

@media (max-width: 600px) and (min-width: 525px) {
  .product-box {
    width: 200px;
    height: 256px;
  }

  .product-image,
  .product-image-box {
    width: 200px;
    height: 120px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}



@media (max-width: 400px) {
  .profile div {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile div label {
    text-align: center;
    padding-bottom: 5px;
  }

  .profile div span {
    text-align: center;
  }

  .product-box {
    width: 220px;
  }

  .product-image,
  .product-image-box {
    width: 220px;
    height: 140px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

@media (max-width: 400px) and (min-width: 301px) {
  .cart div {
    grid-template-columns: 1fr 1fr;
  }

  .cart#summary div {
    grid-template-columns: 1fr 1fr;
  }

  .cart#summary div span:nth-child(5) {
    grid-column: 2 / span 1;
  }
}
