/* @import 'tailwindcss'; */
/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */
/* @source "..*.blade.php"; */
/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

/* RESET */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  unicode-bidi: isolate;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
ul, ol {
  list-style: none;
}
input, button, textarea, select {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}
body {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
}
button{
  cursor: pointer;
}
main {
  flex: 1;
  width: 86%;
  margin: 24px auto;
  margin-bottom: 128px;
}
.breadcrumb{
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 4px;
  display: flex;
  align-items: center;
}
.breadcrumb li{
  /* text-decoration: underline; */
}
hr{
  border: 0;
  height: 1px;
  background-color:lightgray;
}
small{
  color: #444;
}
li a{
  opacity: 65%;
}
button{
  opacity: 75%;
}
li a:hover, button:hover{
  opacity: 100%;
}
li a{
  cursor: pointer;
}


/* NAV */
#main-nav{
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav ul{
  display: flex;
  align-items: center;
}

.logo{
  height: 24px;
  margin-left: 6px;
}

#nav-toggle{
  margin-left: 6px;
}

#center-nav li{
  margin: 0 12px;
}

#right-nav li{
  margin: 0 6px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
#right-nav li a img{
  width: 40px;
  height: 40px;
}
#mobile-nav{
  display: none;
}
#mobile-nav ul li{
 text-align: center;
 padding: 12px 0;
 font-weight: bold;
}
#mobile-nav-search{
  display: flex;
}
#mobile-nav-search input{
  width: 100%;
  margin-left: 16px;
  padding: 4px 8px;
}
#mobile-nav-search button{
  margin-right: 24px;
}



/* FOOTER */
footer{
  width: 100vw;
  height: 256px;
  border-top: 1px solid lightgray;
  /* background-color: green; */
}
#footer-content{
  padding-top: 20px;
  padding-bottom: 16px;
}
#footer-boxes{
  display: flex;
  flex-wrap: wrap;
  gap: 16px 10px;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 36px;
}
.footer-box{
  padding: 4px 8px;
  /* border: 1px solid lightgray;
  border-radius: 8px; */
  /* text-align: center; */
}
.footer-box h4{
  margin-bottom: 4px;
}
.footer-box ul li{
  text-align: left;
  margin-bottom: 12px;
  color: #444;
  width: 189px;
  font-size: 15px;
}
#right{
  text-align: right;
}
.footer-box ul{
  margin-top: 12px;
}
#newsletter,#newsletter ul li{
  min-width: 260px;
  max-width: 320px;
}

#newsletter form{
  display: flex;
  justify-content: space-between;
  height: 36px;
  border: 1px solid #333;
  border-radius: 12px;
}
#newsletter form input{
  /* border: 1px solid #000;
  border-radius: 12px; */
  padding: 4px 8px;
  width: 70%;
}
#newsletter form button{
  /* border: 1px solid #000; */
  /* border-radius: 12px; */
  border-left: 1px solid #333;
  padding: 4px 8px;
  width: 30%;
}
#bottom-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.socials{
  display: flex;
  justify-content: end;
  margin-top: 8px;
}
.socials a{
  margin: 0 8px;
}

/* MAIN PAGE */
#hot-product{
  /* height: 480px; */
  height: 70vh;
  background-color: #CCD2DC;
  background-image: url("../images/products/air-jordan-1-retro-high-og-travis-scott/pexels-melvin-buezo-1253763-18946586.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  padding: 72px 32px;
  color: #fff;
  }

  #hot-product div{
  width: 60%;
  max-width: 720px;
  min-width: 240px;
  text-align: right;
  color: white;
  text-transform: uppercase;
}
.hot-name{
  font-size: 48px;
  font-weight: 600;
}
#hot-sale{
  margin-top: 32px;
  margin-left: auto;
  margin-right: 28px;
  display: flex;
  align-items: center;
  width: 20%;
}
#hot-sale div{
  padding-right: 12px;
}
#hot-button{
  margin-left: 12px;
  padding: 12px 24px;
  border-radius: 16px;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: bold;
}
.old-price{
  text-decoration: line-through;
  opacity: 70%;
}


.product-section{
  margin-top: 48px;
  text-align: center;
}
.product-section h2{
  text-align: left;
  margin-bottom: 12px;
}
.product-section-header{
  font-size: 32px;
}
.section-break{
  margin-top: 48px;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.product-box{
  width: 200px;
  transition: transform 0.2s ease-in-out;
}

.product-box:hover {
  transform: scale(1.1);
}

.product-image{
  width: 200px;
  height: 128px;
  object-fit:cover;
  background-color: grey;
  border-radius: 12px;
}
.view-more{
  margin-top: 48px;
  padding: 12px 24px;
  border-radius: 16px;
  border: 1px solid #444;
  font-size: 18px;
  font-weight: bold;
}
.button-cart{
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-prices{
  text-align: left;
  margin-top: 6px;
}
.product-name{
  text-align: left;
  margin-top: 2px;
}
.product-prices h2, .product-prices h3{
  margin: 0 0;
}
.product-data{
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-cart-icon{
  width: 16px;
  height: 16px;
}
.button-cart-text{
  padding-left: 4px;
  font-weight: 500;
}

/*LOGIN & REGISTER & Edit profile*/
.container{
  text-align: center;
  margin: 75px 0;
}
.container h1{
  margin-bottom: 50px;
}

.login-form{
  margin-bottom: 50px;
}

.login-form>div, .container p{
  margin-bottom: 20px;
}

.container .login-form button{
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
}

.container p a{
  color:blue;
  text-decoration: underline;
}

.container .login-form input{
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
}

.container .login-form label{
  display: block;
  text-align: left;
  padding-left: 4px;
}

.container .login-form div{
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

/* PROFILE */
.profile {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile h1 {
  text-align: center;
  margin-bottom: 50px;
}

.profile div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.profile div label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.profile button{
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  margin-top: 50px;
}


/*CART*/
.cart {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cart h1{
  text-align: center;
  margin-bottom: 50px;
}

.cart div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.cart div#first_div{
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid;
}

.cart div span button{
  color: red;
}

.cart div span input::-webkit-inner-spin-button{ /*toto zrusi sipky, ktore sa obycajne nachadzaju pri input type number*/
  -webkit-appearance: none;
  margin: 0px;
}

.cart div span input{
  text-align: center;
  width: 30px;
}

.cart button{
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  margin-top: 50px;
}

.cart div span button{
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #444;
  margin: 0px;
}

/* STORE */
.flex{
  display: flex;
  gap: 24px;
}
#filter{
 width: 224px;
 max-height: 640px;
 border-radius: 12px;
 border: 1px solid #444;
 display: flex;
 flex-direction: column;
}
#filter h3{
  text-align: center;
  padding: 8px 0;
  margin: 0;
}
.darker-hr{
  background-color: #444;
}
.filter-section{
  padding: 0 28px;
  margin-bottom: 32px;
}
#color-selection, #size-selection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}
#filter h4{
  padding: 0 20px;
  margin-bottom: 8px;
  margin-top: 16px;
  color: #333;
}
#filter-button{
  display: block;
  margin: auto;
  margin-bottom: 8px;
  width: 90%;
  padding: 8px 16px;
  border: 1px solid #444;
  border-radius: 12px;
  cursor: pointer;
}
.price-input{
  border: 1px solid #444;
  border-radius: 8px;
  padding: 3px 8px;
}
.price-box{
  width: 100px;
}
.price-input, .price-box label{
  width: 100%;
  text-align: center;
  display: block;
}
.color-select{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid #000;
  opacity: 98%;
}
.color-select:hover{
scale: 105%;
}
.color-select.selected {
  scale: 110%;
  position: relative;
}
.color-select.selected::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-image: url('data:image/svg+xml,%3Csvg%20data-slot%3D%22icon%22%20fill%3D%22none%22%20stroke-width%3D%221.5%22%20stroke%3D%22currentColor%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20aria-hidden%3D%22true%22%3E%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m4.5%2012.75%206%206%209-13.5%22%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}


.size-select{
  padding: 4px 8px;
  border: 1px solid #444;
  border-radius: 8px;
}
.size-select:hover{
  scale: 105%;
}
.size-select.selected {
  background: #333;
  color: white;
  border-color: #333;
  scale: 115%;
}

#products{
  flex: 1;
  height: 800px;
  background-color: #666;
}


/* RESPONSIVE */
/* Cart */
@media (max-width: 800px) and (min-width: 401px) {
  .cart div {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
/*
@media (max-width: 300px) {
  .cart div{
    grid-template-columns: 1fr;
  }
}
  */
@media (max-width: 400px) and (min-width: 301px){
  .cart div {
    grid-template-columns: 1fr 1fr;
  }
}

/* Profile */
@media (max-width: 400px) {
  .profile div {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .profile div label {
      text-align: center;
      padding-bottom: 5px;
  }

  .profile div span {
      text-align: center;
  }
}

/* Phone */
@media (max-width: 770px) {
  #main-nav, footer{
    padding: 0 4px;
  }
  #center-nav{
    display: none !important;
  }
  .li-icons{
    display: none !important;
  }
  .button-cart-icon{
    width: 28px;
    height: 32px;
  }
  .button-cart-text{
    display: none;
  }
}

/* Tablet */
@media (min-width:771px) and (max-width: 1024px) {
  #main-nav, footer{
    padding: 0 24px;
  }
  #nav-toggle{
    display: none;
  }
  .button-cart-icon{
    width: 28px;
    height: 32px;
  }
  .button-cart-text{
    display: none;
  }

}

/* Desktop */
@media (min-width: 1025px) {
  #main-nav, footer{
    padding: 0 40px;
  }
  #nav-toggle{
    display: none;
  }
  .product-box{
    width: 275px;
  }
  .product-image{
    width: 275px;
    height: 176px;
  }
}
